{% for name, svc in services.items() %}
{{ svc.domain }} {
  {% if svc.type == 'static' %}
  root * /srv/{{ name }}
  file_server
  try_files {path} /index.html
  {% else %}
  reverse_proxy {{ name }}:{{ svc.port }}
  {% endif %}
}
{% endfor %}
