version: '3.8'

services:
{% for name, svc in services.items() if 'image' in svc %}
  {{ name }}:
    image: {{ svc.image }}
    restart: unless-stopped
    {% if 'port' in svc %}
    ports:
      - "{{ svc.port }}:{{ svc.port }}"
    {% endif %}
    networks:
      - backend
{% endfor %}

networks:
  backend:
    external: true
